<div class="button-container">
    <button class="custom-button" [routerLink]="'moveReq'">Протолкнуть заявку (moveReq)</button>
    <button class="custom-button" [routerLink]="'fixDict'">Изменить словарь (fixDict)</button>
    <button class="custom-button" [routerLink]="'fixEquips'">Изменить оборудование (fixEquips)</button>
    <button class="custom-button" [routerLink]="'fixUser'">Изменить пользователя (fixUser)</button>
    <button class="custom-button" [routerLink]="'fixReq'">Изменить заявку (fixReq)</button>
    <button class="custom-button" [routerLink]="'getIDs'">Получить ID стейтов (getIDs)</button>
  </div>
  